*,
*::before,
*::after {
  font: unset;
  color: unset;
  background: unset;
  border-radius: unset;
  outline: unset;
}

@tailwind base;

@layer base {
  *:focus-visible {
    outline: 2px solid dodgerblue;
    transition: none;
    border-radius: 0px;
    outline-offset: 1px;
  }
}

@tailwind components;

@layer components {
  .bordered-box {
    @apply border border-wix-200 rounded-md py-[0.3125rem] px-3;
  }
}

@tailwind utilities;

@media screen and (min-height: 621px) {
  .custom-center {
    height: 100vh;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
